
<!-- ==== banner start ==== -->
<section class="cmn-banner section gsap-fix-top">
    <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12 col-md-8">
                <h2 class="h2 title">Convert An Image</h2>
            </div>
            <div class="col-12 col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-md-end wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Convert An Image
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="left-triangle">
        <div class='triangle'></div>
    </div>
    <div class="right-triangle">
        <div class='triangle'></div>
        <div class="right-alt">
        </div>
    </div>
</section>
<!-- ==== / banner end ==== -->
<!-- ==== custom quote start ==== -->
<div class="custom-quote">
    <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="quote-wrapper">
                    <div class="custom-quote__left custom-quote__left1">
                        {{#each images_1}}
                            <div class="single">
                                <img src="{{ this.path }}" alt="Image">
                            </div>
                        {{/each}}
                    </div>
                    <div class="custom-quote__left custom-quote__left2">
                        {{#each images_1}}
                            <div class="single">
                                <img src="{{ this.path }}" alt="Image">
                            </div>
                        {{/each}}
                    </div>
                    <div class=" custom-quote__left custom-quote__left3">
                        {{#each images_1}}
                            <div class="single">
                                <img src="{{ this.path }}" alt="Image">
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="quote-wrapper">
                    <div class="custom-quote__right custom-quote__right1">
                        {{#each images_2}}
                            <div class="single">
                                <img src="{{ this.path }}" alt="Image">
                            </div>
                        {{/each}}
                    </div>
                    <div class="custom-quote__right custom-quote__right2">
                        {{#each images_2}}
                            <div class="single">
                                <img src="{{ this.path }}" alt="Image">
                            </div>
                        {{/each}}
                    </div>
                    <div class="custom-quote__right custom-quote__right3">
                        {{#each images_2}}
                            <div class="single">
                                <img src="{{ this.path }}" alt="Image">
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="trial__form">
                    <form action="/convert" method="post" enctype="multipart/form-data">
                        <div id="div-image" class="drag">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input name="file" type="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url('https://icons-for-free.com/iconfiles/png/512/cloud+upload+file+storage+upload+icon-1320190558968694328.png');">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div-label" class="form-group-single wow fadeInUp" data-wow-duration="600ms" data-wow-delay="900ms">
                            <input type="text" name="label" id="trailLink" placeholder="label your image">
                        </div>
                        {{#if (isAlreadyLogin)}}
                            <div class="group-radio">
                                <input type="checkbox" name="isPublic" id="readTerms">
                                <label for="readTerms">Make it as public</label>
                            </div>
                        {{/if}}
                        <div id="div-group_btn" class="cta__group">
                            <button id="btn-convert" class="btn btn--primary">convert now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
    <script src="{{ asset 'assets/vendor/sweetalert2/js/sweetalert2.min.js' }}"></script>
    <script>
        $(document).ready(() => {
            const btn = $('#btn-convert')
            const resultId = new URLSearchParams(window.location.search).get('result')
            if (resultId) {
                const groupBtn = $('#div-group_btn')
                $('#div-label').remove()
                $('#div-image').remove()
                btn.remove()
                groupBtn.append(`<a href="/convert/result/${resultId}" class="btn btn--primary" target="_blank">see the result</a>`)
                groupBtn.append(`<a href="/convert" class="btn btn--primary">convert other image</a>`)
            }
            btn.on('click', (e) => {
                const image = $('#imageUpload').val()
                if (image == null || image === '') {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please choose your image',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                    e.preventDefault()

                    return
                }

                btn.addClass('disabled')
                let text = 'Please wait'
                setInterval(() => {
                    if (text === 'Please wait....') {
                        text = 'Please wait'
                    }
                    btn.text(text)
                    text += '.'
                }, 400)
            })
        })
    </script>
{{/section}}
