
<!-- ==== banner start ==== -->
<section class="cmn-banner section gsap-fix-top">
    <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12 col-md-8">
                <h2 class="h2 title">Convert An Image</h2>
            </div>
            <div class="col-12 col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-md-end wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Convert An Image
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="left-triangle">
        <div class='triangle'></div>
    </div>
    <div class="right-triangle">
        <div class='triangle'></div>
        <div class="right-alt">
        </div>
    </div>
</section>
<!-- ==== / banner end ==== -->
<!-- ==== custom quote start ==== -->
<div class="custom-quote">
    <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="quote-wrapper">
                    <div class="custom-quote__left custom-quote__left1">
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/one.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/two.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/three.png' }}" alt="Image">
                        </div>
                    </div>
                    <div class="custom-quote__left custom-quote__left2">
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/one.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/two.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/three.png' }}" alt="Image">
                        </div>
                    </div>
                    <div class=" custom-quote__left custom-quote__left3">
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/one.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/two.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/three.png' }}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="quote-wrapper">
                    <div class="custom-quote__right custom-quote__right1">
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/four.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/five.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/six.png' }}" alt="Image">
                        </div>
                    </div>
                    <div class="custom-quote__right custom-quote__right2">
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/four.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/five.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/six.png' }}" alt="Image">
                        </div>
                    </div>
                    <div class="custom-quote__right custom-quote__right3">
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/four.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/five.png' }}" alt="Image">
                        </div>
                        <div class="single">
                            <img src="{{ asset 'assets/images/quote/six.png' }}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="trial__form">
                    <form action="/convert" method="post" enctype="multipart/form-data">
                        <div class="drag">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input name="file" type="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-single wow fadeInUp" data-wow-duration="600ms" data-wow-delay="900ms">
                            <input type="text" name="label" id="trailLink" placeholder="label your image">
                        </div>
                        {{#if (isAlreadyLogin)}}
                            <div class="group-radio">
                                <input type="checkbox" name="isPublic" id="readTerms">
                                <label for="readTerms">Make it as public</label>
                            </div>
                        {{/if}}
                        <div id="div-group_btn" class="cta__group">
                            <button id="btn-convert" class="btn btn--primary">convert now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
    <script>
        $(document).ready(() => {
            const btn = $('#btn-convert')
            const resultId = new URLSearchParams(window.location.search).get('result')
            if (resultId) {
                const groupBtn = $('#div-group_btn')
                btn.remove()
                groupBtn.append(`<a href="/convert/result/${resultId}" class="btn btn--primary" target="_blank">see the result</a>`)
                groupBtn.append(`<a href="/convert" class="btn btn--primary">reset</a>`)
            }
            btn.on('click', () => {
                btn.addClass('disabled')
                let text = 'Please wait'
                setInterval(() => {
                    if (text === 'Please wait....') {
                        text = 'Please wait'
                    }
                    btn.text(text)
                    text += '.'
                }, 400)
            })
        })
    </script>
{{/section}}
