{{#section 'style' }}
    <style type="text/css">
        {{#each images}}
            .portfolio .img-{{ @index }} .before-{{ @index }} {
                background-image: url('{{ this.imageOriginalPath }}');
            }
            .portfolio .img-{{ @index }} .after-{{ @index }} {
                background-image: url('{{ this.path }}');
                width: 50%;
            }
        {{/each }}
    </style>
{{/section}}

<section class="cmn-banner section gsap-fix-top">
    <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12 col-md-8">
                <h2 class="h2 title wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1200ms">Gallery</h2>
            </div>
            <div class="col-12 col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-md-end wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1200ms">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Gallery
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="left-triangle">
        <div class='triangle'></div>
    </div>
    <div class="right-triangle">
        <div class='triangle'></div>
        <div class="right-alt">
        </div>
    </div>
</section>
<!-- ==== / banner end ==== -->
<!-- ==== blog section start ==== -->
<section class="section blog-main">
    <div class="container">
        <div class="row gaper">
            <div class="col-12 col-xl-9">
                <div class="portfolio">
                    <div class="row gaper grid">
                        {{#each images}}
                            <div class="col-12 col-md-6 col-xl-6 grid-item">
                                <div class="portfolio__single-item">
                                    <div class="portfolio-range img-{{ @index }}">
                                        <div class='img before-{{ @index }}'></div>
                                        <div class='img after-{{ @index }}'></div>
                                        <input type="range" min="1" max="100" value="50" class="portfolio-slides" name='portfolio-slider' id="img-slider-{{ @index }}">
                                        <div class='portfolio-slider-button img-slider-button-{{ @index }}'></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
<!--                    <div class="cta__group justify-content-center">-->
<!--                        <button type="submit" class="btn btn--primary">Load more...</button>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="blog-main__sidebar">
                    <div class="widget wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                        <div class="widget__head">
                            <h5 class="h5">Times</h5>
                        </div>
                        <div class="widget__list">
                            <ul>
                                {{#each overviews }}
                                    <li>
                                        <a href="?year={{ this._id.year }}&month={{ this._id.month }}">
                                            {{ this._id.year }} {{ this._id.rawMonth }} ({{ this.count }})
                                        </a>
                                    </li>
                                {{/each }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section 'script' }}
    <script>
        {{#each images}}
            $("#img-slider-{{ @index }}").on("input change", (e) => {
                const slider = e.target.value;

                $(".after-{{ @index }}").css("width", `${slider}%`);

                $(".img-slider-button-{{ @index }}").css("left", `calc(${slider}% - 18px)`);
            })
        {{/each}}
    </script>
{{/section}}